:root {
  --branding-color: #ffffff; /* main text */
  --light-accent-color: #7f78d2; /* content */
  --medium-accent-color: #d2d0fe; /* hero */
  --dark-accent-color: #7f78d2; /* name */
  --heading-font-family: "Sansita", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
}

body {
  font-weight: 500;
  font-family: var(--default-font-family);
  background: var(--light-accent-color);
  color: var(--branding-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: 800;
  font-size: 96px;
  line-height: 1.5;
  letter-spacing: 1.5;
  color: var(--dark-accent-color);
}

h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1;
}

p {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
}

footer {
  text-align: center;
  font-size: 40px;
}

footer a {
  color: var(--branding-color);
}

.navigation {
  background: #d2d0fe;
}

.hero {
  background: var(--medium-accent-color);
  color: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 2;
}

.project-highlight-section {
  background: var(--light-accent-color);
}

.services-section {
  background: var(--medium-accent-color);
}

.about-me-section {
  background: var(--light-accent-color);
}

.contact-section {
  background: var(--medium-accent-color);
}

.footer {
  background: var(--medium-accent-color);
}

.btn-branding {
  background: var(--branding-color);
  color: var(--light-accent-color);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--branding-color);
  border-radius: 4px;
  border: 1px solid var(--branding-color);
}

.project-description {
  padding: 100px 60px 0;
}

@media (max-width: 991px) {
  h1 {
    font-size: 43px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 14px;
  }

  .hero p {
    font-size: 25px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 17px;
  }

  .btn-branding,
  .btn-branding-outline {
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
