:root {
  --branding-color: #ffffff; /* main text */
  --light-accent-color: #c1bffa; /* hero */
  --medium-accent-color: #7f78d2; /* content */
  --link-hover-color: rgb(109, 248, 248);
  --heading-font-family: "Sansita", sans-serif;
  --default-font-family: "Montserrat", sans-serif;
}

body {
  font-weight: 500;
  font-family: var(--default-font-family);
  background: var(--light-accent-color);
  color: var(--branding-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-weight: 800;
  font-size: 96px;
  line-height: 1.5;
  letter-spacing: 1px;
  color: var(--medium-accent-color);
}

h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.8;
}

footer {
  text-align: center;
  font-size: 40px;
}

footer a {
  color: var(--branding-color);
}

.navbar {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-brand {
  color: var(--branding-color);
}

.navbar-brand:hover {
  color: var(--branding-color);
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav a {
  color: var(--default-font-family);
}

.nav-link:hover {
  color: var(--medium-accent-color);
}

.hero {
  background: var(--light-accent-color);
  color: var(--branding-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 2;
}

.project-container {
  padding: 5rem 0 1rem;
}

.project-highlight-section {
  background: var(--medium-accent-color);
}

.project-highlight-image {
  border-radius: 70px;
  width: 80%;
}

.project-description {
  padding: 0 30px;
  text-align: center;
}

.project-description p {
  padding: 0 60px;
}

.services-section {
  background: var(--light-accent-color);
}

.services-container {
  padding: 5rem 0;
}

.skill-icon {
  font-size: 60px;
  color: var(--medium-accent-color);
}

.skill-title,
.contact-title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  font-family: var(--heading-font-family);
}

.skill-description {
  text-align: center;
  opacity: 0.8;
}

.about-me-section {
  background: var(--medium-accent-color);
}

.about-container {
  padding: 5rem 3rem;
}

.about-description {
  text-align: center;
}

.about-image {
  border-radius: 70px;
}

.contact-section {
  background: var(--light-accent-color);
  padding: 5rem 0;
  text-align: center;
}

.contact-section a {
  color: var(--branding-color);
  letter-spacing: 0.5px;
}

.contact-title,
.contact-section a:hover,
.footer a:hover {
  color: var(--medium-accent-color);
}

.email {
  font-size: 18px;
  font-weight: 600;
}

.footer {
  background: var(--light-accent-color);
  padding: 3rem 0 2rem;
}

.btn-branding {
  background: var(--branding-color);
  color: var(--medium-accent-color);
  letter-spacing: 0.25px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: var(--branding-color);
  background: var(--medium-accent-color);
  border: 1px solid var(--medium-accent-color);
}

.btn-branding-outline {
  font-size: 17px;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 0.5px;
  padding: 15px 30px;
  color: var(--branding-color);
  border-radius: 20px;
  border: none;
}

.btn-branding-outline:hover {
  color: var(--link-hover-color);
  font-size: 18px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 43px;
  }

  h2 {
    font-size: 33px;
  }

  p {
    font-size: 14px;
  }

  .hero p {
    font-size: 25px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 17px;
  }

  .btn-branding,
  .btn-branding-outline {
    font-size: 15px;
    line-height: 20px;
    padding: 10px 20px;
  }

  .btn-branding-outline:hover {
    font-size: 16px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .project-description p {
    padding: 0 60px;
  }
}
